#  Maji Ndogo Water Accessibility Project — Final Queries and Answers

This section contains the key SQL queries and insights generated during the Maji Ndogo Water Accessibility Analysis.  
Each query is documented for reproducibility and reference.

### Question 1 — Format the Date
We want to produce the date in the format **"DD Month YYYY"** from the `time_of_record` column in the `visits` table.  
We’ll use the `DAY()`, `MONTHNAME()`, and `YEAR()` functions with `CONCAT()`.

In [10]:
%%sql

SELECT 
    CONCAT(DAY(time_of_record), ' ', MONTHNAME(time_of_record), ' ', YEAR(time_of_record)) 
    AS formatted_date
FROM 
    visits
limit 5;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('1 January 2021',),
 ('1 January 2021',),
 ('1 January 2021',),
 ('1 January 2021',),
 ('1 January 2021',)]

### Question 2 — Annual Rate of Change (ARC)
We are calculating the **Annual Rate of Change (ARC)** for basic rural water services.  
We’ll group by `name` (country or region) and order by `year`.

In [11]:
%%sql

SELECT
    name,
    wat_bas_r - LAG(wat_bas_r) OVER (PARTITION BY name ORDER BY year) AS annual_rate_change
FROM 
    global_water_access
ORDER BY 
    name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
464 rows affected.

[('Afghanistan', None),
 ('Afghanistan', 13.339405059814453),
 ('Albania', None),
 ('Albania', 3.4641036987304688),
 ('Algeria', None),
 ('Algeria', 1.6847991943359375),
 ('American Samoa', None),
 ('American Samoa', None),
 ('Andorra', None),
 ('Andorra', 0.0),
 ('Angola', None),
 ('Angola', 1.093801498413086),
 ('Anguilla', None),
 ('Anguilla', None),
 ('Antigua and Barbuda', None),
 ('Antigua and Barbuda', None),
 ('Argentina', None),
 ('Argentina', None),
 ('Armenia', None),
 ('Armenia', 0.9451980590820312),
 ('Aruba', None),
 ('Aruba', None),
 ('Australia', None),
 ('Australia', 0.0),
 ('Austria', None),
 ('Austria', 0.0),
 ('Azerbaijan', None),
 ('Azerbaijan', 6.7825927734375),
 ('Bahamas', None),
 ('Bahamas', None),
 ('Bahrain', None),
 ('Bahrain', None),
 ('Bangladesh', None),
 ('Bangladesh', 1.1072006225585938),
 ('Barbados', None),
 ('Barbados', None),
 ('Belarus', None),
 ('Belarus', 0.2333984375),
 ('Belgium', None),
 ('Belgium', 0.0),
 ('Belize', None),
 ('Belize', 2.341400146484375),
 ('Benin', None),
 ('Benin', 1.2678985595703125),
 ('Bermuda', None),
 ('Bermuda', None),
 ('Bhutan', None),
 ('Bhutan', 1.566802978515625),
 ('Bolivia (Plurinational State of)', None),
 ('Bolivia (Plurinational State of)', 6.196403503417969),
 ('Bosnia and Herzegovina', None),
 ('Bosnia and Herzegovina', 0.0),
 ('Botswana', None),
 ('Botswana', 7.1511993408203125),
 ('Brazil', None),
 ('Brazil', 7.189300537109375),
 ('British Virgin Islands', None),
 ('British Virgin Islands', None),
 ('Brunei Darussalam', None),
 ('Brunei Darussalam', None),
 ('Bulgaria', None),
 ('Bulgaria', -0.6147994995117188),
 ('Burkina Faso', None),
 ('Burkina Faso', -6.13690185546875),
 ('Burundi', None),
 ('Burundi', 2.1274986267089844),
 ('Cabo Verde', None),
 ('Cabo Verde', 7.282203674316406),
 ('Cambodia', None),
 ('Cambodia', 2.356098175048828),
 ('Cameroon', None),
 ('Cameroon', 1.5219001770019531),
 ('Canada', None),
 ('Canada', 0.24430084228515625),
 ('Cayman Islands', None),
 ('Cayman Islands', None),
 ('Central African Republic', None),
 ('Central African Republic', -3.784799575805664),
 ('Chad', None),
 ('Chad', 1.9962997436523438),
 ('Channel Islands', None),
 ('Channel Islands', None),
 ('Chile', None),
 ('Chile', 2.9322967529296875),
 ('China', None),
 ('China', 5.181999206542969),
 ('China, Hong Kong SAR', None),
 ('China, Hong Kong SAR', None),
 ('China, Macao SAR', None),
 ('China, Macao SAR', None),
 ('Colombia', None),
 ('Colombia', 3.4934005737304688),
 ('Comoros', None),
 ('Comoros', 0.0),
 ('Congo', None),
 ('Congo', 4.332599639892578),
 ('Cook Islands', None),
 ('Cook Islands', None),
 ('Costa Rica', None),
 ('Costa Rica', 1.460205078125),
 ("Côte d'Ivoire", None),
 ("Côte d'Ivoire", -0.12080001831054688),
 ('Croatia', None),
 ('Croatia', None),
 ('Cuba', None),
 ('Cuba', 3.9416046142578125),
 ('Curaçao', None),
 ('Curaçao', None),
 ('Cyprus', None),
 ('Cyprus', -0.0153961181640625),
 ('Czech Republic', None),
 ('Czech Republic', 0.0),
 ("Democratic People's Republic of Korea", None),
 ("Democratic People's Republic of Korea", -2.8633956909179688),
 ('Democratic Republic of the Congo', None),
 ('Democratic Republic of the Congo', 1.360300064086914),
 ('Denmark', None),
 ('Denmark', 0.0),
 ('Djibouti', None),
 ('Djibouti', -1.4785003662109375),
 ('Dominica', None),
 ('Dominica', None),
 ('Dominican Republic', None),
 ('Dominican Republic', 1.0934982299804688),
 ('Ecuador', None),
 ('Ecuador', 4.498199462890625),
 ('Egypt', None),
 ('Egypt', 0.5308990478515625),
 ('El Salvador', None),
 ('El Salvador', 5.493202209472656),
 ('Equatorial Guinea', None),
 ('Equatorial Guinea', 0.0),
 ('Eritrea', None),
 ('Eritrea', 0.0),
 ('Estonia', None),
 ('Estonia', None),
 ('Eswatini', None),
 ('Eswatini', 4.341400146484375),
 ('Ethiopia', None),
 ('Ethiopia', 7.578300476074219),
 ('Faeroe Islands', None),
 ('Faeroe Islands', None),
 ('Falkland Islands (Malvinas)', None),
 ('Falkland Islands (Malvinas)', 0.0),
 ('Fiji', None),
 ('Fiji', -0.29050445556640625),
 ('Finland', None),
 ('Finland', 0.0),
 ('France', None),
 ('France', 0.0),
 ('French Guiana', None),
 ('French Guiana', None),
 ('French Polynesia', None),
 ('French Polynesia', None),
 ('Gabon', None),
 ('Gabon', 1.3558998107910156),
 ('Gambia', None),
 ('Gambia', 0.9336013793945312),
 ('Georgia', None),
 ('Georgia', 2.9766998291015625),
 ('Germany', None),
 ('Germany', 0.0),
 ('Ghana', None),
 ('Ghana', 4.684501647949219),
 ('Gibraltar', None),
 ('Gibraltar', None),
 ('Greece', None),
 ('Greece', 0.0),
 ('Greenland', None),
 ('Greenland', 0.0),
 ('Grenada', None),
 ('Grenada', None),
 ('Guadeloupe', None),
 ('Guadeloupe', None),
 ('Guam', None),
 ('Guam', None),
 ('Guatemala', None),
 ('Guatemala', 2.8765029907226562),
 ('Guinea', None),
 ('Guinea', -1.2010002136230469),
 ('Guinea-Bissau', None),
 ('Guinea-Bissau', 1.4092025756835938),
 ('Guyana', None),
 ('Guyana', 0.5056991577148438),
 ('Haiti', None),
 ('Haiti', 0.42929840087890625),
 ('Honduras', None),
 ('Honduras', 3.4386978149414062),
 ('Hungary', None),
 ('Hungary', 0.0998992919921875),
 ('Iceland', None),
 ('Iceland', 0.0),
 ('India', None),
 ('India', 3.2105026245117188),
 ('Indonesia', None),
 ('Indonesia', 5.037200927734375),
 ('Iran (Islamic Republic of)', None),
 ('Iran (Islamic Republic of)', 1.66619873046875),
 ('Iraq', None),
 ('Iraq', 10.068397521972656),
 ('Ireland', None),
 ('Ireland', 0.11810302734375),
 ('Isle of Man', None),
 ('Isle of Man', None),
 ('Israel', None),
 ('Israel', 0.0),
 ('Italy', None),
 ('Italy', None),
 ('Jamaica', None),
 ('Jamaica', 0.899200439453125),
 ('Japan', None),
 ('Japan', None),
 ('Jordan', None),
 ('Jordan', -0.0507965087890625),
 ('Kazakhstan', None),
 ('Kazakhstan', 1.191802978515625),
 ('Kenya', None),
 ('Kenya', 3.5077972412109375),
 ('Kiribati', None),
 ('Kiribati', 3.0719032287597656),
 ('Kuwait', None),
 ('Kuwait', None),
 ('Kyrgyzstan', None),
 ('Kyrgyzstan', 4.1531982421875),
 ("Lao People's Democratic Republic", None),
 ("Lao People's Democratic Republic", 8.233299255371094),
 ('Latvia', None),
 ('Latvia', 0.7245025634765625),
 ('Lebanon', None),
 ('Lebanon', None),
 ('Lesotho', None),
 ('Lesotho', 0.22949981689453125),
 ('Liberia', None),
 ('Liberia', 2.8369979858398438),
 ('Libya', None),
 ('Libya', None),
 ('Liechtenstein', None),
 ('Liechtenstein', None),
 ('Lithuania', None),
 ('Lithuania', 3.064300537109375),
 ('Luxembourg', None),
 ('Luxembourg', -0.6428985595703125),
 ('Madagascar', None),
 ('Madagascar', 3.261798858642578),
 ('Maji Ndogo', None),
 ('Maji Ndogo', 0.0),
 ('Malawi', None),
 ('Malawi', 4.344398498535156),
 ('Malaysia', None),
 ('Malaysia', -0.7208938598632812),
 ('Maldives', None),
 ('Maldives', 1.0392990112304688),
 ('Mali', None),
 ('Mali', 8.685203552246094),
 ('Malta', None),
 ('Malta', 0.0),
 ('Marshall Islands', None),
 ('Marshall Islands', 0.15130615234375),
 ('Martinique', None),
 ('Martinique', None),
 ('Mauritania', None),
 ('Mauritania', 3.2185020446777344),
 ('Mauritius', None),
 ('Mauritius', 0.0),
 ('Mayotte', None),
 ('Mayotte', None),
 ('Mexico', None),
 ('Mexico', 5.0503997802734375),
 ('Micronesia (Federated States of)', None),
 ('Micronesia (Federated States of)', None),
 ('Monaco', None),
 ('Monaco', None),
 ('Mongolia', None),
 ('Mongolia', 8.97690200805664),
 ('Montenegro', None),
 ('Montenegro', 2.201202392578125),
 ('Montserrat', None),
 ('Montserrat', None),
 ('Morocco', None),
 ('Morocco', 13.173599243164062),
 ('Mozambique', None),
 ('Mozambique', 12.89529800415039),
 ('Myanmar', None),
 ('Myanmar', 11.172996520996094),
 ('Namibia', None),
 ('Namibia', 1.115203857421875),
 ('Nauru', None),
 ('Nauru', None),
 ('Nepal', None),
 ('Nepal', 2.9613037109375),
 ('Netherlands', None),
 ('Netherlands', 0.0),
 ('New Caledonia', None),
 ('New Caledonia', None),
 ('New Zealand', None),
 ('New Zealand', 0.0),
 ('Nicaragua', None),
 ('Nicaragua', -0.39730072021484375),
 ('Niger', None),
 ('Niger', 1.8243026733398438),
 ('Nigeria', None),
 ('Nigeria', 8.165699005126953),
 ('Niue', None),
 ('Niue', None),
 ('North Macedonia', None),
 ('North Macedonia', -0.1645050048828125),
 ('Northern Mariana Islands', None),
 ('Northern Mariana Islands', None),
 ('Norway', None),
 ('Norway', 0.0),
 ('Oman', None),
 ('Oman', 1.8839035034179688),
 ('Pakistan', None),
 ('Pakistan', 1.4488983154296875),
 ('Palau', None),
 ('Palau', 0.14310455322265625),
 ('Panama', None),
 ('Panama', 2.64349365234375),
 ('Papua New Guinea', None),
 ('Papua New Guinea', 4.080699920654297),
 ('Paraguay', None),
 ('Paraguay', 5.7664947509765625),
 ('Peru', None),
 ('Peru', 7.511802673339844),
 ('Philippines', None),
 ('Philippines', 2.85369873046875),
 ('Poland', None),
 ('Poland', 1.46209716796875),
 ('Portugal', None),
 ('Portugal', 0.0),
 ('Puerto Rico', None),
 ('Puerto Rico', None),
 ('Qatar', None),
 ('Qatar', None),
 ('Republic of Korea', None),
 ('Republic of Korea', None),
 ('Republic of Moldova', None),
 ('Republic of Moldova', 2.9384994506835938),
 ('Réunion', None),
 ('Réunion', None),
 ('Romania', None),
 ('Romania', 0.0),
 ('Russian Federation', None),
 ('Russian Federation', 1.4339981079101562),
 ('Rwanda', None),
 ('Rwanda', 3.2898025512695312),
 ('Saint Barthelemy', None),
 ('Saint Barthelemy', None),
 ('Saint Helena', None),
 ('Saint Helena', None),
 ('Saint Kitts and Nevis', None),
 ('Saint Kitts and Nevis', None),
 ('Saint Lucia', None),
 ('Saint Lucia', 1.5017013549804688),
 ('Saint Martin (French part)', None),
 ('Saint Martin (French part)', None),
 ('Saint Pierre and Miquelon', None),
 ('Saint Pierre and Miquelon', None),
 ('Saint Vincent and the Grenadines', None),
 ('Saint Vincent and the Grenadines', None),
 ('Samoa', None),
 ('Samoa', 0.39389801025390625),
 ('San Marino', None),
 ('San Marino', None),
 ('Sao Tome and Principe', None),
 ('Sao Tome and Principe', 3.0178985595703125),
 ('Saudi Arabia', None),
 ('Saudi Arabia', None),
 ('Senegal', None),
 ('Senegal', 9.30169677734375),
 ('Serbia', None),
 ('Serbia', 1.1214981079101562),
 ('Seychelles', None),
 ('Seychelles', None),
 ('Sierra Leone', None),
 ('Sierra Leone', 7.222999572753906),
 ('Singapore', None),
 ('Singapore', None),
 ('Sint Maarten (Dutch part)', None),
 ('Sint Maarten (Dutch part)', None),
 ('Slovakia', None),
 ('Slovakia', 0.0),
 ('Slovenia', None),
 ('Slovenia', None),
 ('Solomon Islands', None),
 ('Solomon Islands', -3.606800079345703),
 ('Somalia', None),
 ('Somalia', 7.847700119018555),
 ('South Africa', None),
 ('South Africa', 4.295799255371094),
 ('South Sudan', None),
 ('South Sudan', -3.133197784423828),
 ('Spain', None),
 ('Spain', 0.0),
 ('Sri Lanka', None),
 ('Sri Lanka', 2.2802963256835938),
 ('Sudan', None),
 ('Sudan', 1.4916000366210938),
 ('Suriname', None),
 ('Suriname', 5.994804382324219),
 ('Sweden', None),
 ('Sweden', 0.16939544677734375),
 ('Switzerland', None),
 ('Switzerland', 0.0),
 ('Syrian Arab Republic', None),
 ('Syrian Arab Republic', 0.6970062255859375),
 ('Tajikistan', None),
 ('Tajikistan', 7.091400146484375),
 ('Thailand', None),
 ('Thailand', 1.1204986572265625),
 ('Timor-Leste', None),
 ('Timor-Leste', 11.528404235839844),
 ('Togo', None),
 ('Togo', 4.875400543212891),
 ('Tokelau', None),
 ('Tokelau', 0.25030517578125),
 ('Tonga', None),
 ('Tonga', 0.07500457763671875),
 ('Trinidad and Tobago', None),
 ('Trinidad and Tobago', None),
 ('Tunisia', None),
 ('Tunisia', 8.345504760742188),
 ('Turkey', None),
 ('Turkey', 1.8212966918945312),
 ('Turkmenistan', None),
 ('Turkmenistan', 3.7801971435546875),
 ('Turks and Caicos Islands', None),
 ('Turks and Caicos Islands', None),
 ('Tuvalu', None),
 ('Tuvalu', 0.0),
 ('Uganda', None),
 ('Uganda', 8.514202117919922),
 ('Ukraine', None),
 ('Ukraine', 1.1568984985351562),
 ('United Arab Emirates', None),
 ('United Arab Emirates', None),
 ('United Kingdom', None),
 ('United Kingdom', 0.0),
 ('United Republic of Tanzania', None),
 ('United Republic of Tanzania', 6.583599090576172),
 ('United States of America', None),
 ('United States of America', 1.8907012939453125),
 ('United States Virgin Islands', None),
 ('United States Virgin Islands', None),
 ('Uruguay', None),
 ('Uruguay', 3.8050003051757812),
 ('Uzbekistan', None),
 ('Uzbekistan', 0.43019866943359375),
 ('Vanuatu', None),
 ('Vanuatu', 1.419097900390625),
 ('Venezuela (Bolivarian Republic of)', None),
 ('Venezuela (Bolivarian Republic of)', None),
 ('Viet Nam', None),
 ('Viet Nam', 4.681404113769531),
 ('Wallis and Futuna Islands', None),
 ('Wallis and Futuna Islands', -0.1781005859375),
 ('West Bank and Gaza Strip', None),
 ('West Bank and Gaza Strip', 3.3344955444335938),
 ('Yemen', None),
 ('Yemen', 5.722999572753906),
 ('Zambia', None),
 ('Zambia', 4.610500335693359),
 ('Zimbabwe', None),
 ('Zimbabwe', -2.967700958251953)]

### Question 3 — Worst Performing Employees
Find the names of the two worst-performing employees who visited the fewest sites,  
and show how many sites the worst-performing employee visited.

In [26]:
%%sql
SELECT 
    e.employee_name AS employee_name,
    COUNT(DISTINCT v.location_id) AS sites_visited
FROM 
    visits AS v
JOIN 
    employee AS e
  ON v.assigned_employee_id = e.assigned_employee_id
GROUP BY 
    e.employee_name
ORDER BY 
    sites_visited ASC
LIMIT 2;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
2 rows affected.

[('Kunto Asha', 8), ('Lesedi Kofi', 94)]

### Question 4 — Average Queue Time for Shared Taps
This query computes the **average queue time for each shared tap**,  
updated for each visit. We only include sources visited more than once.

In [28]:
%%sql

SELECT 
    location_id,
    time_in_queue,
    AVG(time_in_queue) OVER (PARTITION BY location_id ORDER BY visit_count) AS total_avg_queue_time
FROM 
    visits
WHERE 
    visit_count > 1
ORDER BY 
    location_id, time_of_record
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('AkHa00036', 113, Decimal('113.0000')),
 ('AkHa00036', 229, Decimal('171.0000')),
 ('AkHa00036', 400, Decimal('247.3333')),
 ('AkHa00036', 120, Decimal('215.5000')),
 ('AkHa00036', 185, Decimal('209.4000')),
 ('AkHa00036', 158, Decimal('200.8333')),
 ('AkHa00036', 226, Decimal('204.4286')),
 ('AkHa00090', 50, Decimal('50.0000')),
 ('AkHa00090', 63, Decimal('56.5000')),
 ('AkHa00090', 12, Decimal('41.6667'))]

### Question 5 — Using TRIM() Function
We use `TRIM()` to remove leading and trailing spaces from text values.  
Example: employee Farai Nia lives at `‘33 Angelique Kidjo Avenue  ’`.  
We’ll see what the result looks like after trimming.

In [29]:
%%sql

SELECT TRIM('33 Angelique Kidjo Avenue  ') AS trimmed_address;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[('33 Angelique Kidjo Avenue',)]

### Question 6 — Employees in Dahabu
Find how many employees live in **Dahabu**.

In [32]:
%%sql

SELECT 
    COUNT(*) AS employees_in_dahabu
FROM 
    employee
WHERE 
    town_name = 'Dahabu';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(6,)]

### Question 7 — Employees in Harare, Kilimani
We want to find the number of employees living in **Harare, Kilimani**.

In [35]:
%%sql

SELECT 
    COUNT(*) AS employees_in_harare_kilimani
FROM 
    employee
WHERE 
    town_name = 'Harare' AND province_name = 'Kilimani';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(2,)]

### Question 8 — Average People per Well
Calculate how many people share a well on average.  
We’ll use the `water_source` table and round the result to 0 decimals.

In [36]:
%%sql

SELECT 
    ROUND(AVG(number_of_people_served), 0) AS avg_people_per_well
FROM 
    water_source
WHERE 
    type_of_water_source = 'well';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(Decimal('279'),)]

### Question 9 — People Using Taps
We’ll calculate the **total population served by taps** (shared or home taps).  
To filter, we’ll use the `LIKE` operator.

In [37]:
%%sql

SELECT 
    SUM(number_of_people_served) AS total_people_using_taps
FROM 
    water_source
WHERE 
    type_of_water_source LIKE '%tap%';

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[(Decimal('20423872'),)]

### Question 10 — Average Queue Times by Day and Hour
From our pivot table analysis, we compare average queue times for specific days and hours:
- Saturday: 12:00–13:00  
- Tuesday: 18:00–19:00  
- Sunday: 09:00–10:00

In [38]:
%%sql

-- Pivot table query snippet for reference
SELECT
    TIME_FORMAT(TIME(time_of_record), '%H:00') AS hour_of_day,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Sunday' THEN time_in_queue END),0) AS Sunday,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Monday' THEN time_in_queue END),0) AS Monday,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Tuesday' THEN time_in_queue END),0) AS Tuesday,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Wednesday' THEN time_in_queue END),0) AS Wednesday,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Thursday' THEN time_in_queue END),0) AS Thursday,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Friday' THEN time_in_queue END),0) AS Friday,
    ROUND(AVG(CASE WHEN DAYNAME(time_of_record) = 'Saturday' THEN time_in_queue END),0) AS Saturday
FROM 
    visits
WHERE 
    time_in_queue != 0
GROUP BY 
    hour_of_day
ORDER BY 
    hour_of_day;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
14 rows affected.

[('06:00', Decimal('79'), Decimal('190'), Decimal('134'), Decimal('112'), Decimal('134'), Decimal('153'), Decimal('247')),
 ('07:00', Decimal('82'), Decimal('186'), Decimal('128'), Decimal('111'), Decimal('139'), Decimal('156'), Decimal('247')),
 ('08:00', Decimal('86'), Decimal('183'), Decimal('130'), Decimal('119'), Decimal('129'), Decimal('153'), Decimal('247')),
 ('09:00', Decimal('84'), Decimal('127'), Decimal('105'), Decimal('94'), Decimal('99'), Decimal('107'), Decimal('252')),
 ('10:00', Decimal('83'), Decimal('119'), Decimal('99'), Decimal('89'), Decimal('95'), Decimal('112'), Decimal('259')),
 ('11:00', Decimal('78'), Decimal('115'), Decimal('102'), Decimal('86'), Decimal('99'), Decimal('104'), Decimal('236')),
 ('12:00', Decimal('78'), Decimal('115'), Decimal('97'), Decimal('88'), Decimal('96'), Decimal('109'), Decimal('239')),
 ('13:00', Decimal('81'), Decimal('122'), Decimal('97'), Decimal('98'), Decimal('101'), Decimal('115'), Decimal('242')),
 ('14:00', Decimal('83'), Decimal('127'), Decimal('104'), Decimal('92'), Decimal('96'), Decimal('110'), Decimal('244')),
 ('15:00', Decimal('83'), Decimal('126'), Decimal('104'), Decimal('88'), Decimal('92'), Decimal('110'), Decimal('248')),
 ('16:00', Decimal('83'), Decimal('127'), Decimal('99'), Decimal('90'), Decimal('99'), Decimal('109'), Decimal('251')),
 ('17:00', Decimal('79'), Decimal('181'), Decimal('135'), Decimal('121'), Decimal('129'), Decimal('151'), Decimal('251')),
 ('18:00', Decimal('80'), Decimal('174'), Decimal('122'), Decimal('113'), Decimal('132'), Decimal('158'), Decimal('240')),
 ('19:00', Decimal('127'), Decimal('159'), Decimal('145'), Decimal('176'), Decimal('137'), Decimal('103'), Decimal('282'))]