#  Aliasing and Commenting in SQL

###  Learning Objectives
In this notebook, we will explore how to make our SQL queries more **readable** and **understandable** by using:

- **Aliases** to rename columns and tables for better clarity.
- **Comments** to document and explain our SQL code.

By the end of this training, you should be able to:
1. Assign **aliases** to columns and tables.  
2. Use **single-line** and **multi-line (block)** comments in SQL.  
3. Differentiate between a **comment** and a **Markdown cell** in a notebook.


###  Loading the Sample Database
Let’s begin by loading our sample database that we’ll use throughout this exercise.

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///chinook.sqlite

##  Aliasing in SQL

Before explaining what **aliases** in SQL are and why they are useful, let’s first demonstrate their **necessity**.

Suppose we want to find **which customers (name and surname)** and **Sales Support Agents (name and surname)** live in the **same country**.

Let’s imagine that **Chinook** was planning a door-to-door marketing campaign for **customers who live in the same country as Chinook employees**, specifically **Canada**.

To achieve this, we’ll need to:
- Retrieve the `FirstName` and `LastName` columns from both the `customers` and `employees` tables.
- Filter where:
  - The `Country` in the `customers` table equals `'Canada'`
  - The `SupportRepId` in the `customers` table matches the `EmployeeId` in the `employees` table.

Let’s first write the query **without aliases** to see how lengthy it becomes.

In [5]:
%%sql

SELECT 
    customer.FirstName, 
    customer.LastName, 
    employee.FirstName, 
    employee.LastName, 
    customer.Country
FROM 
    customer
JOIN 
    employee
ON 
    customer.SupportRepId = employee.EmployeeId
WHERE 
    customer.Country = 'Canada';

 * sqlite:///chinook.sqlite
Done.

[('François', 'Tremblay', 'Jane', 'Peacock', 'Canada'),
 ('Mark', 'Philips', 'Steve', 'Johnson', 'Canada'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock', 'Canada'),
 ('Robert', 'Brown', 'Jane', 'Peacock', 'Canada'),
 ('Edward', 'Francis', 'Jane', 'Peacock', 'Canada'),
 ('Martha', 'Silk', 'Steve', 'Johnson', 'Canada'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park', 'Canada'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock', 'Canada')]

##  Understanding the Need for Aliasing in SQL

As we can see, we have two main problems in our previous query:

1. The two tables (`customers` and `employees`) have **similar column names** (e.g., `FirstName`, `LastName`), making it **impossible to tell** which data belongs to which table.  
2. The query is **long and repetitive**, making it **harder to type and read**.  

Additionally, the **SQLite environment** we use will not return columns with identical names. Instead, it automatically renames duplicate columns by appending suffixes like `_1`, `_2`, `_3`, etc.  



###  What Is an Alias in SQL?

An **alias** is a feature supported by most (if not all) relational database systems.  
It allows you to assign a **temporary name** to a **table** or **column**, making your query:

- Shorter and cleaner   
- Easier to understand   
- More professional and readable   

>  **Note:**  
> Aliases are **temporary** — they only exist for the duration of the current query.  
> Once the query finishes executing, the alias is forgotten.



###  Syntax of Aliasing

To **alias a column**, we use the `AS` keyword:

```sql
SELECT column_name AS alias_name
FROM table_name;

#  Rewriting Our Query Using Aliases

Let’s now rewrite our earlier query using aliases to solve the issues we identified.

In [9]:


%%sql

SELECT 
    c.FirstName AS CustomerFirstName,
    c.LastName AS CustomerLastName,
    e.FirstName AS EmployeeFirstName,
    e.LastName AS EmployeeLastName,
    c.Country
FROM 
    customer AS c
JOIN 
    employee AS e
ON 
    c.SupportRepId = e.EmployeeId
WHERE 
    c.Country = 'Canada';

 * sqlite:///chinook.sqlite
Done.

[('François', 'Tremblay', 'Jane', 'Peacock', 'Canada'),
 ('Mark', 'Philips', 'Steve', 'Johnson', 'Canada'),
 ('Jennifer', 'Peterson', 'Jane', 'Peacock', 'Canada'),
 ('Robert', 'Brown', 'Jane', 'Peacock', 'Canada'),
 ('Edward', 'Francis', 'Jane', 'Peacock', 'Canada'),
 ('Martha', 'Silk', 'Steve', 'Johnson', 'Canada'),
 ('Aaron', 'Mitchell', 'Margaret', 'Park', 'Canada'),
 ('Ellie', 'Sullivan', 'Jane', 'Peacock', 'Canada')]

###  What We Did

- We gave the `customers` table the alias **`c`** and the `employees` table the alias **`e`**.  
- We used the `AS` keyword to rename columns to more descriptive names:
  - `CustomerFirstName`
  - `CustomerLastName`
  - `EmployeeFirstName`
  - `EmployeeLastName`
- This made the query **shorter, cleaner, and easier to read** while clearly showing which data belongs to which table.



###  Key Takeaway

Aliasing helps:
- Avoid column name conflicts between multiple tables.  
- Make queries more readable and professional.  
- Simplify complex SQL code without affecting the actual database schema.

##  Commenting in SQL

In a typical database, SQL scripts can become **long and complex**, especially when multiple developers work on the same code base.  
**Comments** help make SQL code **more readable, maintainable, and understandable**. They also allow us to **document the purpose** of queries or temporarily disable parts of a script.

### Why Use SQL Comments?
- Explain the intent of a query.
- Keep track of changes and updates in scripts.
- Temporarily prevent execution of certain parts of the code.
- Make collaboration easier in team projects.


### Types of SQL Comments

1. **Single-line Comments**  
   - Implemented with `--`  
   - Useful for inline explanations of a query or statement.

2. **Multi-line (Block) Comments**  
   - Implemented by enclosing code between `/*` and `*/`  
   - Useful for commenting out multiple lines or blocks of code temporarily.

In [11]:

%%sql

-- Single-line comment: Select all customer from Canada

SELECT *
FROM customer

WHERE Country = 'Canada';

-- Multi-line comment: 
/* 
   The following query joins customers and employees tables
   to find which employees support which customers in Canada.
   We temporarily disable the WHERE clause to see all customers.
*/
/*
SELECT 
    c.FirstName AS CustomerFirstName,
    c.LastName AS CustomerLastName,
    e.FirstName AS EmployeeFirstName,
    e.LastName AS EmployeeLastName,
    c.Country
FROM 
    customer AS c
JOIN 
    employee AS e
ON 
    c.SupportRepId = e.EmployeeId
-- WHERE c.Country = 'Canada';
*/

 * sqlite:///chinook.sqlite
Done.
Done.

[]

###  Key Takeaways

- **Single-line comments (`--`)** are great for short explanations next to your SQL statements.  
- **Multi-line comments (`/* ... */`)** are useful for:
  - Temporarily disabling sections of code.  
  - Adding detailed explanations or documentation for multiple lines.  
- Comments do **not** affect query execution; SQL ignores them.
- Always comment your SQL scripts to make them more **readable** and **maintainable**.