### Dropping Tables with Relationships (Caveat)

#### Learning Objectives
By the end of this section, you should:
- Understand how to drop a table that is being referenced by another table through a foreign key relationship.
- Learn the correct order to drop dependent tables to avoid foreign key constraint errors.

#### Important Note
When tables are linked by foreign keys, **you cannot drop the parent table first**.  
You must first drop all **child tables** (the ones that reference it), and then drop the **parent table**.

In our case:
- `Geographic_Location` is the **parent table**.
- `Basic_services` and `Economic_indicators` are **child tables** that reference `Geographic_Location`.

 **Correct Drop Order:**
1. `Basic_services`
2. `Economic_indicators`
3. `Geographic_Location`

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:password@localhost:3306/united_nations

### 1. Drop the `Basic_services` Table
We’ll start by dropping the `Basic_services` table, which is a child table that references `Geographic_Location`.

In [3]:
%%sql

DROP TABLE IF EXISTS Basic_services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

### 2. Drop the `Economic_indicators` Table
Next, we’ll drop the `Economic_indicators` table, which also references `Geographic_Location`.

In [4]:
%%sql

DROP TABLE IF EXISTS Economic_indicators;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

### 3. Drop the `Geographic_Location` Table
Finally, we can safely drop the parent table `Geographic_Location` since no other tables depend on it.

In [5]:
%%sql

DROP TABLE IF EXISTS Geographic_Location;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

### Verifying Dropped Tables

To confirm that our tables have been successfully dropped,  
we can query the database to display all the remaining tables in the `united_nations` schema.

If the operation was successful, the tables:
- `Basic_services`
- `Economic_indicators`
- `Geographic_Location`

should no longer appear in the list.

In [6]:
%%sql

-- Show all remaining tables in the united_nations database
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/united_nations
2 rows affected.

[('access_to_basic_services',), ('country_list',)]

### Summary

- Dropping tables with relationships must follow dependency order.
- You cannot drop a parent table (`Geographic_Location`) until all child tables (`Basic_services`, `Economic_indicators`) referencing it have been removed.
- The `IF EXISTS` clause ensures that the query doesn’t raise an error if the table has already been dropped.