#  Creating Views (Part 2)

###  Learning Objectives
By the end of this lesson, you should be able to:
- Create and use **views** in SQL.
- **Update** existing views to modify their structure or contents.



###  Database Connection
We’ll use the **Northwind** sample database, which models a trading company that sells products worldwide.  
Ensure that the `Northwind.db` file is stored in the same directory as this notebook.

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Northwind.db

##  Exercise 1 — Create a View
Let’s create a view named **CustomerOrderView** that combines order details with customer information.

This view should include the following columns:
- `CustomerID`  
- `OrderID`  
- `OrderDate` (from the `Orders` table)  
- `CompanyName` (from the `Customers` table)

In [3]:
%%sql

CREATE VIEW CustomerOrderView AS
SELECT
    o.CustomerID,
    o.OrderID,
    o.OrderDate,
    c.CompanyName
FROM
    Orders AS o
JOIN
    Customers AS c
ON
    o.CustomerID = c.CustomerID;

 * sqlite:///Northwind.db
Done.

[]

##  Exercise 2 — Retrieve Data from the View
Now that we have created our view, let’s query it to verify that it works as expected.

We’ll retrieve **all records** from the `CustomerOrderView`.

In [4]:
%%sql

SELECT *
FROM CustomerOrderView
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('VINET', 10248, '1996-07-04 00:00:00', 'Vins et alcools Chevalier'),
 ('TOMSP', 10249, '1996-07-05 00:00:00', 'Toms Spezialitten'),
 ('HANAR', 10250, '1996-07-08 00:00:00', 'Hanari Carnes'),
 ('VICTE', 10251, '1996-07-08 00:00:00', 'Victuailles en stock'),
 ('SUPRD', 10252, '1996-07-09 00:00:00', 'Suprmes dlices'),
 ('HANAR', 10253, '1996-07-10 00:00:00', 'Hanari Carnes'),
 ('CHOPS', 10254, '1996-07-11 00:00:00', 'Chop-suey Chinese'),
 ('RICSU', 10255, '1996-07-12 00:00:00', 'Richter Supermarkt'),
 ('WELLI', 10256, '1996-07-15 00:00:00', 'Wellington Importadora'),
 ('HILAA', 10257, '1996-07-16 00:00:00', 'HILARION-Abastos')]

##  Exercise 3 — Update the View (SQLite-Compatible)
Since SQLite doesn’t support `CREATE OR REPLACE VIEW`,  
we’ll drop the existing `CustomerOrderView` first, then recreate it with the new structure.

In [6]:
%%sql
DROP VIEW IF EXISTS CustomerOrderView;

 * sqlite:///Northwind.db
Done.

[]

In [7]:
%%sql

CREATE VIEW CustomerOrderView AS
SELECT
    o.CustomerID,
    o.OrderID,
    DATE(o.OrderDate) AS OrderDateOnly,
    TIME(o.OrderDate) AS OrderTimeOnly,
    c.CompanyName
FROM
    Orders AS o
JOIN
    Customers AS c
ON
    o.CustomerID = c.CustomerID;

 * sqlite:///Northwind.db
Done.

[]

##  Exercise 4 — Retrieve Data from the Updated View
Finally, let’s confirm that our updated view works correctly by selecting all columns again.  
We should now see `OrderDateOnly` and `OrderTimeOnly` instead of the old `OrderDate` column.

In [8]:
%%sql

SELECT *
FROM CustomerOrderView
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('VINET', 10248, '1996-07-04', '00:00:00', 'Vins et alcools Chevalier'),
 ('TOMSP', 10249, '1996-07-05', '00:00:00', 'Toms Spezialitten'),
 ('HANAR', 10250, '1996-07-08', '00:00:00', 'Hanari Carnes'),
 ('VICTE', 10251, '1996-07-08', '00:00:00', 'Victuailles en stock'),
 ('SUPRD', 10252, '1996-07-09', '00:00:00', 'Suprmes dlices'),
 ('HANAR', 10253, '1996-07-10', '00:00:00', 'Hanari Carnes'),
 ('CHOPS', 10254, '1996-07-11', '00:00:00', 'Chop-suey Chinese'),
 ('RICSU', 10255, '1996-07-12', '00:00:00', 'Richter Supermarkt'),
 ('WELLI', 10256, '1996-07-15', '00:00:00', 'Wellington Importadora'),
 ('HILAA', 10257, '1996-07-16', '00:00:00', 'HILARION-Abastos')]

##  Summary

In this notebook, we deepened our understanding of **database views** using the Northwind database.  
We practiced how to:

- **Create a view** (`CustomerOrderView`) that joins the `Orders` and `Customers` tables to display key order details alongside company information.  
- **Query the view** to confirm its structure and verify that it simplifies access to frequently used joined data.  
- **Update the view safely in SQLite** by first dropping the old version, then recreating it with **derived columns** — splitting the `OrderDate` into separate `OrderDateOnly` and `OrderTimeOnly` fields.

This exercise demonstrated how views improve query readability, promote reusability, and provide a flexible way to adapt to changes in data requirements — even within SQLite’s constraints.