#  Joins and Set Operations — Advanced SQL Practice

##  Learning Objectives
In this exercise, we will:
- Understand and use different types of **SQL Joins** to combine data from different tables.
- Use **UNION**, **INTERSECT**, and **EXCEPT/MINUS** operators to combine rows from different tables.
- Understand the difference between **joins** (column-wise combination) and **set operations** (row-wise combination).



##  Database Connection
We will be working with the **Northwind** sample database — a classic dataset representing a trading company with tables for products, orders, customers, employees, and suppliers.

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Northwind.db

##  Overview
We will use SQL join and set operation techniques to solve real-world analytical problems.  

Before starting, let’s explore the tables available in our database.

In [3]:
%%sql

-- Display all tables in the Northwind database
SELECT name 
FROM sqlite_master 
WHERE type='table';

 * sqlite:///Northwind.db
Done.

[('Categories',),
 ('Customers',),
 ('Region',),
 ('Shippers',),
 ('Suppliers',),
 ('Employees',),
 ('EmployeeTerritories',),
 ('OrderDetails',),
 ('Orders',),
 ('Territories',),
 ('Products',)]

##  Exercise 1 — List of Products and Their Respective Suppliers
We’ll start by joining the **Products** and **Suppliers** tables.  

Each product has a `SupplierID` that connects to the supplier’s details.  
We’ll retrieve:
- Product Name  
- Supplier Name  
- Supplier Country

In [4]:
%%sql

SELECT
    p.ProductName AS Product,
    s.CompanyName AS Supplier,
    s.Country AS Supplier_Country
FROM
    Products AS p
INNER JOIN
    Suppliers AS s
ON
    p.SupplierID = s.SupplierID
ORDER BY
    s.CompanyName, p.ProductName;

 * sqlite:///Northwind.db
Done.

[('Chartreuse verte', 'Aux joyeux ecclsiastiques', 'France'),
 ('Cte de Blaye', 'Aux joyeux ecclsiastiques', 'France'),
 ('Laughing Lumberjack Lager', 'Bigfoot Breweries', 'USA'),
 ('Sasquatch Ale', 'Bigfoot Breweries', 'USA'),
 ('Steeleye Stout', 'Bigfoot Breweries', 'USA'),
 ('Queso Cabrales', "Cooperativa de Quesos 'Las Cabras'", 'Spain'),
 ('Queso Manchego La Pastora', "Cooperativa de Quesos 'Las Cabras'", 'Spain'),
 ('Escargots de Bourgogne', 'Escargots Nouveaux', 'France'),
 ('Aniseed Syrup', 'Exotic Liquids', 'UK'),
 ('Chai', 'Exotic Liquids', 'UK'),
 ('Chang', 'Exotic Liquids', 'UK'),
 ('Gorgonzola Telino', 'Formaggi Fortini s.r.l.', 'Italy'),
 ('Mascarpone Fabioli', 'Formaggi Fortini s.r.l.', 'Italy'),
 ('Mozzarella di Giovanni', 'Formaggi Fortini s.r.l.', 'Italy'),
 ("Sirop d'rable", "Forts d'rables", 'Canada'),
 ('Tarte au sucre', "Forts d'rables", 'Canada'),
 ('Filo Mix', "G'day, Mate", 'Australia'),
 ('Manjimup Dried Apples', "G'day, Mate", 'Australia'),
 ('Perth Pasties', "G'day, Mate", 'Australia'),
 ('Camembert Pierrot', 'Gai pturage', 'France'),
 ('Raclette Courdavault', 'Gai pturage', 'France'),
 ("Grandma's Boysenberry Spread", "Grandma Kelly's Homestead", 'USA'),
 ('Northwoods Cranberry Sauce', "Grandma Kelly's Homestead", 'USA'),
 ("Uncle Bob's Organic Dried Pears", "Grandma Kelly's Homestead", 'USA'),
 ('Gumbr Gummibrchen', 'Heli Swaren GmbH & Co. KG', 'Germany'),
 ('NuNuCa Nu-Nougat-Creme', 'Heli Swaren GmbH & Co. KG', 'Germany'),
 ('Schoggi Schokolade', 'Heli Swaren GmbH & Co. KG', 'Germany'),
 ('Lakkalikri', 'Karkki Oy', 'Finland'),
 ('Maxilaku', 'Karkki Oy', 'Finland'),
 ('Valkoinen suklaa', 'Karkki Oy', 'Finland'),
 ('Gula Malacca', 'Leka Trading', 'Singapore'),
 ('Ipoh Coffee', 'Leka Trading', 'Singapore'),
 ('Singaporean Hokkien Fried Mee', 'Leka Trading', 'Singapore'),
 ('Rogede sild', 'Lyngbysild', 'Denmark'),
 ('Spegesild', 'Lyngbysild', 'Denmark'),
 ('Pt chinois', 'Ma Maison', 'Canada'),
 ('Tourtire', 'Ma Maison', 'Canada'),
 ('Genen Shouyu', "Mayumi's", 'Japan'),
 ('Konbu', "Mayumi's", 'Japan'),
 ('Tofu', "Mayumi's", 'Japan'),
 ('Boston Crab Meat', 'New England Seafood Cannery', 'USA'),
 ("Jack's New England Clam Chowder", 'New England Seafood Cannery', 'USA'),
 ("Chef Anton's Cajun Seasoning", 'New Orleans Cajun Delights', 'USA'),
 ("Chef Anton's Gumbo Mix", 'New Orleans Cajun Delights', 'USA'),
 ('Louisiana Fiery Hot Pepper Sauce', 'New Orleans Cajun Delights', 'USA'),
 ('Louisiana Hot Spiced Okra', 'New Orleans Cajun Delights', 'USA'),
 ('Nord-Ost Matjeshering', 'Nord-Ost-Fisch Handelsgesellschaft mbH', 'Germany'),
 ('Flotemysost', 'Norske Meierier', 'Norway'),
 ('Geitost', 'Norske Meierier', 'Norway'),
 ('Gudbrandsdalsost', 'Norske Meierier', 'Norway'),
 ("Gustaf's Knckebrd", 'PB Knckebrd AB', 'Sweden '),
 ('Tunnbrd', 'PB Knckebrd AB', 'Sweden '),
 ('Gnocchi di nonna Alice', 'Pasta Buttini s.r.l.', 'Italy'),
 ('Ravioli Angelo', 'Pasta Buttini s.r.l.', 'Italy'),
 ('Alice Mutton', 'Pavlova, Ltd.', 'Australia'),
 ('Carnarvon Tigers', 'Pavlova, Ltd.', 'Australia'),
 ('Outback Lager', 'Pavlova, Ltd.', 'Australia'),
 ('Pavlova', 'Pavlova, Ltd.', 'Australia'),
 ('Vegie-spread', 'Pavlova, Ltd.', 'Australia'),
 ('Original Frankfurter grne Soe', 'Plutzer Lebensmittelgromrkte AG', 'Germany'),
 ('Rhnbru Klosterbier', 'Plutzer Lebensmittelgromrkte AG', 'Germany'),
 ('Rssle Sauerkraut', 'Plutzer Lebensmittelgromrkte AG', 'Germany'),
 ('Thringer Rostbratwurst', 'Plutzer Lebensmittelgromrkte AG', 'Germany'),
 ('Wimmers gute Semmelkndel', 'Plutzer Lebensmittelgromrkte AG', 'Germany'),
 ('Guaran Fantstica', 'Refrescos Americanas LTDA', 'Brazil'),
 ('Scottish Longbreads', 'Specialty Biscuits, Ltd.', 'UK'),
 ("Sir Rodney's Marmalade", 'Specialty Biscuits, Ltd.', 'UK'),
 ("Sir Rodney's Scones", 'Specialty Biscuits, Ltd.', 'UK'),
 ('Teatime Chocolate Biscuits', 'Specialty Biscuits, Ltd.', 'UK'),
 ('Gravad lax', 'Svensk Sjfda AB', 'Sweden'),
 ('Inlagd Sill', 'Svensk Sjfda AB', 'Sweden'),
 ('Rd Kaviar', 'Svensk Sjfda AB', 'Sweden'),
 ('Ikura', 'Tokyo Traders', 'Japan'),
 ('Longlife Tofu', 'Tokyo Traders', 'Japan'),
 ('Mishi Kobe Niku', 'Tokyo Traders', 'Japan'),
 ('Chocolade', 'Zaanse Snoepfabriek', 'Netherlands'),
 ('Zaanse koeken', 'Zaanse Snoepfabriek', 'Netherlands')]

##  Exercise 2 — List of All Cities for Customers and Employees
We’ll now use **UNION** to stack (combine vertically) the list of cities where customers and employees are located.

This will help us view all unique business-related locations in one dataset.

In [5]:
%%sql

SELECT City, 'Customer' AS Source
FROM Customers

UNION

SELECT City, 'Employee' AS Source
FROM Employees
ORDER BY City;

 * sqlite:///Northwind.db
Done.

[(None, 'Customer'),
 ('Aachen', 'Customer'),
 ('Albuquerque', 'Customer'),
 ('Anchorage', 'Customer'),
 ('Barcelona', 'Customer'),
 ('Barquisimeto', 'Customer'),
 ('Bergamo', 'Customer'),
 ('Berlin', 'Customer'),
 ('Bern', 'Customer'),
 ('Boise', 'Customer'),
 ('Brandenburg', 'Customer'),
 ('Brcke', 'Customer'),
 ('Bruxelles', 'Customer'),
 ('Buenos Aires', 'Customer'),
 ('Butte', 'Customer'),
 ('Campinas', 'Customer'),
 ('Caracas', 'Customer'),
 ('Charleroi', 'Customer'),
 ('Cork', 'Customer'),
 ('Cowes', 'Customer'),
 ('Cunewalde', 'Customer'),
 ('Elgin', 'Customer'),
 ('Eugene', 'Customer'),
 ('Frankfurt a.M.', 'Customer'),
 ('Genve', 'Customer'),
 ('Graz', 'Customer'),
 ('Helsinki', 'Customer'),
 ('I. de Margarita', 'Customer'),
 ('Kirkland', 'Customer'),
 ('Kirkland', 'Employee'),
 ('Kln', 'Customer'),
 ('Kobenhavn', 'Customer'),
 ('Lander', 'Customer'),
 ('Leipzig', 'Customer'),
 ('Lille', 'Customer'),
 ('Lisboa', 'Customer'),
 ('London', 'Customer'),
 ('London', 'Employee'),
 ('Lule', 'Customer'),
 ('Lyon', 'Customer'),
 ('Madrid', 'Customer'),
 ('Mannheim', 'Customer'),
 ('Marseille', 'Customer'),
 ('Mnchen', 'Customer'),
 ('Mnster', 'Customer'),
 ('Montral', 'Customer'),
 ('Mxico D.F.', 'Customer'),
 ('Nantes', 'Customer'),
 ('Oulu', 'Customer'),
 ('Paris', 'Customer'),
 ('Portland', 'Customer'),
 ('Redmond', 'Employee'),
 ('Reggio Emilia', 'Customer'),
 ('Reims', 'Customer'),
 ('Resende', 'Customer'),
 ('Rio de Janeiro', 'Customer'),
 ('Salzburg', 'Customer'),
 ('San Cristbal', 'Customer'),
 ('San Francisco', 'Customer'),
 ('Sao Paulo', 'Customer'),
 ('Seattle', 'Customer'),
 ('Seattle', 'Employee'),
 ('Sevilla', 'Customer'),
 ('Stavern', 'Customer'),
 ('Strasbourg', 'Customer'),
 ('Stuttgart', 'Customer'),
 ('Tacoma', 'Employee'),
 ('Torino', 'Customer'),
 ('Toulouse', 'Customer'),
 ('Tsawassen', 'Customer'),
 ('Vancouver', 'Customer'),
 ('Versailles', 'Customer'),
 ('Walla Walla', 'Customer'),
 ('Warszawa', 'Customer'),
 ('rhus', 'Customer')]

##  Exercise 3 — Unique Cities Where Customers and Employees Live
In this task, we’ll use **INTERSECT** to identify cities common to both customers and employees.

This reveals potential areas where employees and clients coexist.

In [6]:
%%sql

SELECT City
FROM Customers

INTERSECT

SELECT City
FROM Employees
ORDER BY City;

 * sqlite:///Northwind.db
Done.

[('Kirkland',), ('London',), ('Seattle',)]

### Challenge Question — Quarterly Sales Report

This problem involves pulling data from multiple tables (`Customers`, `Orders`, `OrderDetails`, and `Products`) to create a detailed sales report.  
It tests your ability to use **JOINS**, **aggregate functions**, **grouping**, and the **HAVING** clause.

#### Steps to Approach the Problem

1. **Identify the tables:**  
   We’ll need data from:
   - `Customers` – for customer names and countries  
   - `Orders` – for order dates and customer relationships  
   - `OrderDetails` – for quantities and prices  
   - `Products` – for product names  

2. **Join the tables:**  
   - `Orders` connects to `Customers` via `CustomerID`  
   - `OrderDetails` connects to `Orders` via `OrderID`  
   - `OrderDetails` connects to `Products` via `ProductID`  

3. **Filter the data:**  
   Include only orders from the last quarter (`'2023-04-01'` to `'2023-06-30'`).

4. **Aggregate the data:**  
   - Calculate the total amount spent by each customer:  
     `SUM(Quantity * UnitPrice)`  
   - Calculate the total quantity of each product purchased by each customer:  
     `SUM(Quantity)`  

5. **Group the data:**  
   Use `GROUP BY` to segment results by `CustomerName`, `Country`, and `ProductName`.

6. **Apply a condition on aggregates:**  
   Use the `HAVING` clause to include only customers who spent more than **5000** in total.  
   - Remember:  
     - `WHERE` filters rows before aggregation  
     - `HAVING` filters groups after aggregation  

#### Expected Output
A detailed report with:
- Customer name  
- Country  
- Total amount spent by each customer  
- List of products each customer purchased  
- Total quantity of each product purchased  
Only customers who spent more than **5000** in the last quarter are included.

In [8]:
%%sql

SELECT
    customer.ContactName,
    customer.Country,
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) AS TotalSalesAmount,
    product.ProductName,
    SUM(orderDetails.Quantity) AS TotalUnitsSold
FROM
    Customers AS customer
JOIN
    Orders AS orders
    ON customer.CustomerID = orders.CustomerID
JOIN
    OrderDetails AS orderDetails
    ON orders.OrderID = orderDetails.OrderID
JOIN
    Products AS product
    ON orderDetails.ProductID = product.ProductID
WHERE
    orders.OrderDate BETWEEN '1996-08-01' AND '1998-01-30'
GROUP BY
    customer.ContactName,
    customer.Country,
    product.ProductName
HAVING
    SUM(orderDetails.Quantity * orderDetails.UnitPrice) > 5000;

 * sqlite:///Northwind.db
Done.

[('Georg Pipps', 'Austria', 10540.0, 'Cte de Blaye', 50),
 ('Horst Kloss', 'Germany', 6222.0, 'Camembert Pierrot', 194),
 ('Horst Kloss', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Horst Kloss', 'Germany', 5268.0, 'Schoggi Schokolade', 120),
 ('Howard Snyder', 'USA', 11857.5, 'Cte de Blaye', 45),
 ('Jean Fresnire', 'Canada', 10329.2, 'Cte de Blaye', 49),
 ('Jose Pavarotti', 'USA', 6832.4400000000005, 'Thringer Rostbratwurst', 60),
 ('Jytte Petersen', 'Denmark', 10540.0, 'Cte de Blaye', 50),
 ('Lcia Carvalho', 'Brazil', 8432.0, 'Cte de Blaye', 40),
 ('Patricia McKenna', 'Ireland', 5830, 'Raclette Courdavault', 112),
 ('Paula Wilson', 'USA', 6324.0, 'Cte de Blaye', 30),
 ('Paula Wilson', 'USA', 6208.0, 'Tarte au sucre', 145),
 ('Philip Cramer', 'Germany', 7905.0, 'Cte de Blaye', 30),
 ('Roland Mendel', 'Austria', 6360, 'Manjimup Dried Apples', 120)]

### Challenge Question — Quarterly Sales Report Summary

The above is a detailed sales report combining data from multiple tables: `Customers`, `Orders`, `OrderDetails`, and `Products`.  
The query uses **JOINS** to connect the tables, **aggregate functions** to calculate total spending and quantities, and **GROUP BY** to organize results by customer and product.  
We’ll then use a **HAVING** clause to include only customers who spent more than 5000 between `'2023-04-01'` and `'2023-06-30'`.  
The final report will show each customer’s name, country, total amount spent, products purchased, and total quantities for the last quarter.