# Querying in Notebooks: Northwind Database Exploration

**Â© ExploreAI Academy**



## Overview

In this exercise, we will query a sample SQLite database file for a retail company called **Northwind** to gain insights into their data. Ensure that you have downloaded the database file `Northwind.db`.



## Learning Objectives

By the end of this exercise, you should be able to:

1. Use basic `SELECT` statements to retrieve specific data from a database.
2. Use the `WHERE` clause to filter data based on certain conditions.
3. Combine multiple conditions using logical operators such as `AND` and `OR`.
4. Use different logical operators to get or exclude specific values in a table, including the use of `IN` for multiple values.



## Getting Started

Before writing queries, we first need to **connect to the Northwind SQLite database** and explore its tables.

```python
import sqlite3
import pandas as pd

# Connect to the Northwind database
conn = sqlite3.connect("Northwind.db")

# List all tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Northwind.db

## Exercise 1: Customers from Germany

**Objective:**  
Retrieve the names of all customers located in **Germany** from the Northwind database.

**Approach:**  
We will use a `SELECT` statement with a `WHERE` clause to filter customers based on their `Country`.

In [12]:
import os
os.getcwd()

'C:\\Users\\Administrator'

In [13]:
%%sql sqlite:///C:/Users/Administrator/Northwind.db
SELECT name
FROM sqlite_master
WHERE type='table';

Done.

[]