In [1]:
%load_ext sql

In [3]:
!pip install cryptography

Collecting cryptography
  Downloading cryptography-46.0.3-cp38-abi3-win_amd64.whl.metadata (5.7 kB)
Requirement already satisfied: cffi>=2.0.0 in c:\programdata\anaconda3\envs\sqlenv\lib\site-packages (from cryptography) (2.0.0)
Requirement already satisfied: typing-extensions>=4.13.2 in c:\programdata\anaconda3\envs\sqlenv\lib\site-packages (from cryptography) (4.15.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\envs\sqlenv\lib\site-packages (from cffi>=2.0.0->cryptography) (2.23)
Downloading cryptography-46.0.3-cp38-abi3-win_amd64.whl (3.5 MB)
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.5 MB ? eta -:--:--
   -------- ------------------------------- 0.8/3.5 MB 2.6 MB/s eta 0:00:02
   ----------------------- ---------------- 2.1/3.5 MB 4.2 MB/s eta 0:00:01
   -------------------------------------- - 3.4/3.5 MB 5.6 MB/s eta 0:00:01
   ---------------------------------------- 3.5/3.5 MB 4.8 MB/s  0:00:01
Installing collected packages: cryptography
Successfully installed cryptography-46.0.3

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%reload_ext sql

In [9]:
%%sql
SHOW DATABASES;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('united_nations',)]

In [10]:
%%sql
USE united_nations;
SHOW TABLES;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.
1 rows affected.

[('access_to_basic_services',)]

In [11]:
%%sql
SELECT * FROM access_to_basic_services LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]