##  The Third Normal Form (3NF)

###  Learning Objectives
In this exercise, we will:
- Understand the criteria for achieving the **Third Normal Form (3NF)** in database design.  
- Identify and remove **transitive dependencies** by creating separate tables for related attributes.



###  Connecting to the Database
We’ll continue using the `company_data` database created earlier in **MySQL Workbench**.  
If you get any connection errors, ensure that **MySQL** and **PyMySQL** are installed correctly and that your credentials match your local setup.

In [1]:
%load_ext sql

###  Overview

When a table is in the **Second Normal Form (2NF)**, it removes redundancy and partial dependencies, but it may still contain **transitive dependencies** — where a non-key attribute depends on another non-key attribute.

For a table to be in **Third Normal Form (3NF)**:
1. It must already be in **2NF**.  
2. It must have **no transitive dependencies** — i.e., non-key attributes should depend **only on the primary key**.

Example:
In the `Employees` table, the `Home_state` column depends on `State_code`, not directly on the primary key (`Employee_id`).  
This is a **transitive dependency** and needs to be resolved.

In [3]:
%%sql

-- View the current structure of the Employees table
SELECT * FROM Employees;

 * mysql+pymysql://root:***@localhost:3306/company_data
3 rows affected.

[('E001', 'Carmel', 26, 'Cape Town'),
 ('E002', 'Stefanie', 56, 'Joburg'),
 ('E003', 'Lisa', 5, 'Nairobi')]

###  Exercise 1: Create the `States` Table

To eliminate the transitive dependency, create a new table called **States** from the Employees table.  
This table will contain only the **State_code** and **Home_state** columns.

In [4]:
%%sql

CREATE TABLE States AS
SELECT DISTINCT
    State_code,
    Home_state
FROM
    Employees;

 * mysql+pymysql://root:***@localhost:3306/company_data
3 rows affected.

[]

###  Exercise 2: Drop the Transitive Column

Now that we’ve normalized the data by moving state information into its own table,  
we can safely remove the `Home_state` column from the `Employees` table.

In [5]:
%%sql

ALTER TABLE Employees
DROP COLUMN Home_state;

 * mysql+pymysql://root:***@localhost:3306/company_data
0 rows affected.

[]

###  Summary

In this section, we:
- Identified a **transitive dependency** in the `Employees` table (`Home_state` → `State_code` → `Employee_id`).  
- Created a separate **States** table to store state-related data.  
- Updated the `Employees` table to remove redundant information.

Our database is now in **Third Normal Form (3NF)**, ensuring better data integrity and minimal redundancy.